<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>CheckServer</servlet-name>
    <servlet-class>com.shxy.votes.servlet.CheckServer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getVoteList</servlet-name>
    <servlet-class>com.shxy.votes.servlet.getVoteList</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>CheckServer</servlet-name>
    <url-pattern>/api/checkserver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getVoteList</servlet-name>
    <url-pattern>/api/getvotelist</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
